* {
	box-sizing: border-box;
}

html {
	background-size: 100%;
	background-attachment: fixed;
}

body {
	width: 1000px;
	margin: auto;
	background-color: white;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 16px;
	padding-bottom: 16px;
}

p,a,li,label {
	font-family: 'Average', serif;
}

.navbar,h1,h2,h3,h4,h5,h6,.links a, button, input {
	font-family: 'Average Sans', sans-serif !important;
}

label, input[type=radio], input[type=checkbox] {
	cursor: pointer;
}

input[type="text"] {
	border: none;
	border-bottom: 2px solid #d8cfb6;
	padding: 8px;
}

.navbar {
	border-bottom: 3px solid #d8cfb6;
	margin-bottom: 16px;
	position: relative;
}

.hamburger-btn {
	border: 2px solid #d8cfb6;
	border-radius: 8px;
	width: 50px;
	padding: 4px;
	margin: 8px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
}

.hamburger-btn:hover {
	background-color: #d8cfb6;
}

.links {
	display: flex;
	justify-content: space-around;
	display: none;
	list-style-type: none;
	background-color: #d8cfb6;
	padding: 16px;
}

.links a:hover {
	text-decoration: underline;
}

.navbar-links {
	margin: 8px;
	padding: 8px;
	text-decoration: none;
	width: 100%;
}

.contents {
	border: 2px solid black;
	padding: 8px;
	width: 300px;
	margin: auto;
}

.contents-links {
	list-style-type: upper-roman;
}

.section {
	padding: 8px;
	margin-top: 10px;
}

.objects {
	display: flex;
	flex-wrap: wrap;
}

.note {
	border: 2px solid #d8cfb6;
	padding: 16px;
	margin: 8px;
	width: 300px;
	background-color: gold;
}

.item {
	margin-left: 8px;
	margin-right: 8px;
	padding: 8px;
	border: 2px solid #d8cfb6;
	text-align: center;
	width: 47%;
	text-decoration: none !important;
}

.parts {
	text-align: center;
}

.btn {
	cursor: pointer;
	background-color: white;
	border: 2px solid #d8cfb6;
	border-radius: 8px;
	padding: 16px;
}

.btn:hover {
	background-color: #d8cfb6;
}

.breakoutBtn {
	float: center;
	width: 300px;
	cursor: pointer;
}

#playBtn {
	border: 2px solid #d8cfb6;
	cursor: pointer;
	text-align: center;
	padding: 8px;
}

#playBtn:hover {
	background-color: #d8cfb6;
}

.phone {
	border-radius: 12px;
	border: 2px solid black;
	padding: 16px;
	margin: 8px;
	width: 250px;
	height: 250px;
	overflow-y: scroll;
}

.text {
	border: 2px solid #d8cfb6;
	padding: 16px;
	margin: 8px;
	width: 500px;
	height: 100px;
	text-align: center;
	font-size: 36px;
}

.clue {
	margin: auto;
	width: 400px;
	padding: 16px;
	border: 2px solid #d8cfb6;
}
